---

---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Acerca de - Astro Blog</title>
</head>
<body>
    <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
    <main>
        <h1>Acerca de este blog</h1>
        <p>¡Bienvenido a nuestro blog dedicado a programadores! Aquí compartimos una variedad de recursos que incluyen:</p>
        <ul>
            <li>Herramientas útiles para el desarrollo</li>
            <li>Conceptos clave de programación</li>
            <li>Guías paso a paso</li>
            <li>Y mucho más para ayudarte en tu viaje de codificación</li>
        </ul>
        <p>Ya seas un principiante o un desarrollador experimentado, encontrarás contenido valioso para mejorar tus habilidades y mantenerte al día con lo último en programación.</p>
    </main>
</body>
</html>